In [1]:
import pandas as pd 
import numpy as np

In [2]:
df_final_03_to_10 = pd.DataFrame(columns = ['occupation', 'total', 'men', 'women', 'race', 'year'])

for year in range(2003, 2011):
    data = pd.read_csv(f'aat10_{year}.txt', sep='[ \t]{2,}', header=None, error_bad_lines=False)
    data.replace(r"^ +| +$", r"", regex=True, inplace=True)
    data[0] = data[0].str.rstrip('.')
    col_list = ['occupation',
            f'{year-1}_total',
            f'{year}_total',
            f'{year-1}_men',
            f'{year}_men',
            f'{year-1}_women',
            f'{year}_women']
    data.columns = col_list
    race_lis = [
                'White',
                'Black or African American',
                'Asian',
                'Hispanic or Latino ethnicity'
    ]


    df_cleaned = pd.DataFrame(columns = col_list)

    for i in range(0,4):
        if i <= 2:
            idx_first = data.index[data['occupation'] == race_lis[i]][0]
            idx_last = data.index[data['occupation'] == race_lis[i+1]][0]
            df_selected = data.loc[idx_first:idx_last,]
            df_selected['race'] = race_lis[i]
            df_cleaned = pd.concat([df_cleaned, df_selected])
        else:
            idx_first = data.index[data['occupation'] == race_lis[i]][0]
            df_selected = data.loc[idx_first: ,]
            df_selected['race'] = race_lis[i]
            df_cleaned = pd.concat([df_cleaned, df_selected])
    
    df_cleaned = df_cleaned.dropna()
    df_cleaned_year = df_cleaned[['occupation', f'{year}_total', f'{year}_men', f'{year}_women', 'race']]
    df_cleaned_year['year'] = year
    df_cleaned_year.columns =  ['occupation', 'total', 'men', 'women', 'race', 'year']
    df_final_03_to_10 = pd.concat([df_final_03_to_10, df_cleaned_year])

<ipython-input-2-920f3a3e4e4b>:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data = pd.read_csv(f'aat10_{year}.txt', sep='[ \t]{2,}', header=None, error_bad_lines=False)
<ipython-input-2-920f3a3e4e4b>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected['race'] = race_lis[i]
<ipython-input-2-920f3a3e4e4b>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected['race'] = race_lis[i]
<ipython-input-2-920f3a3e4e4b>:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned_year['year'] = year

In [3]:
df_final_03_to_10['total'] = df_final_03_to_10['total'].str.replace(',', '')
df_final_03_to_10['men'] = df_final_03_to_10['men'].str.replace(',', '')
df_final_03_to_10['women'] = df_final_03_to_10['women'].str.replace(',', '')

In [4]:
df_final_03_to_10[['total', 'men', 'women', 'year']]  =  df_final_03_to_10[[ 'total', 'men', 'women', 'year']].apply(pd.to_numeric)
df_final_03_to_10.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 512 entries, 17 to 83
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   occupation  512 non-null    object
 1   total       512 non-null    float64
 2   men         512 non-null    float64
 3   women       512 non-null    float64
 4   race        512 non-null    object
 5   year        512 non-null    int64
dtypes: float64(3), int64(1), object(2)
memory usage: 28.0+ KB

In [5]:
df_final_03_to_10.to_csv('data_2003_to_2010.csv')

In [6]:
df_final_03_to_10

,occupation,total,men,women,race,year
17,"Total, 16 years and over (thousands)",114235.0,61866.0,52369.0,White,2003
18,Percent,100.0,100.0,100.0,White,2003
19,"Management, professional, and related occupations",35.5,33.0,38.4,White,2003
20,"Management, business, and financial operations...",15.2,16.6,13.5,White,2003
21,Professional and related occupations,20.3,16.4,24.9,White,2003
...,...,...,...,...,...,...
79,Construction and extraction occupations,10.5,17.5,0.3,Hispanic or Latino ethnicity,2010
80,"Installation, maintenance, and repair occupations",3.9,6.3,0.2,Hispanic or Latino ethnicity,2010
81,"Production, transportation, and material movin...",17.1,22.4,9.3,Hispanic or Latino ethnicity,2010
82,Production occupations,8.8,10.6,6.2,Hispanic or Latino ethnicity,2010
83,Transportation and material moving occupations,8.2,11.8,3.1,Hispanic or Latino ethnicity,2010

In [7]:
# Another half
# Reading in csv file 

df_final_11_to_19 = pd.DataFrame(columns = ['occupation', 'total', 'men', 'women', 'race', 'year'])

for year in range(2011, 2020):
    data = pd.read_csv(f'csv_{year}.csv', header=None, error_bad_lines=False)
    data.replace(r"^ +| +$", r"", regex=True, inplace=True)
    data[0] = data[0].str.rstrip('.')
    col_list = ['occupation',
            f'{year-1}_total',
            f'{year}_total',
            f'{year-1}_men',
            f'{year}_men',
            f'{year-1}_women',
            f'{year}_women']
    data.columns = col_list
    race_lis = [
                'White',
                'Black or African American',
                'Asian',
                'Hispanic or Latino ethnicity'
    ]


    df_cleaned = pd.DataFrame(columns = col_list)

    for i in range(0,4):
        if i <= 2:
            idx_first = data.index[data['occupation'] == race_lis[i]][0]
            idx_last = data.index[data['occupation'] == race_lis[i+1]][0]
            df_selected = data.loc[idx_first:idx_last,]
            df_selected['race'] = race_lis[i]
            df_cleaned = pd.concat([df_cleaned, df_selected])
        else:
            idx_first = data.index[data['occupation'] == race_lis[i]][0]
            df_selected = data.loc[idx_first: ,]
            df_selected['race'] = race_lis[i]
            df_cleaned = pd.concat([df_cleaned, df_selected])
    
    df_cleaned = df_cleaned.dropna()
    df_cleaned_year = df_cleaned[['occupation', f'{year}_total', f'{year}_men', f'{year}_women', 'race']]
    df_cleaned_year['year'] = year
    df_cleaned_year.columns =  ['occupation', 'total', 'men', 'women', 'race', 'year']
    df_final_11_to_19 = pd.concat([df_final_11_to_19, df_cleaned_year])


df_final_11_to_19['total'] = df_final_11_to_19['total'].str.replace(',', '')
df_final_11_to_19['men'] = df_final_11_to_19['men'].str.replace(',', '')
df_final_11_to_19['women'] = df_final_11_to_19['women'].str.replace(',', '')
df_final_11_to_19[['total', 'men', 'women', 'year']]  =  df_final_11_to_19[[ 'total', 'men', 'women', 'year']].apply(pd.to_numeric)

<ipython-input-7-42b74a1ac2ce>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected['race'] = race_lis[i]
<ipython-input-7-42b74a1ac2ce>:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected['race'] = race_lis[i]
<ipython-input-7-42b74a1ac2ce>:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned_year['year'] = year

In [8]:
df_final_11_to_19

,occupation,total,men,women,race,year
18,"Total, 16 years and over (in thousands)",114690.0,61920.0,52770.0,White,2011
19,Percent of total employed,100.0,100.0,100.0,White,2011
20,"Management, professional, and related occupations",38.3,34.9,42.3,White,2011
21,"Management, business, and financial operations...",16.1,17.4,14.7,White,2011
22,Professional and related occupations,22.2,17.6,27.6,White,2011
...,...,...,...,...,...,...
83,Construction and extraction occupations,10.9,18.6,0.8,Hispanic or Latino ethnicity,2019
84,"Installation, maintenance, and repair occupations",3.6,6.0,0.3,Hispanic or Latino ethnicity,2019
85,"Production, transportation, and material movin...",15.4,20.1,9.3,Hispanic or Latino ethnicity,2019
86,Production occupations,7.1,8.3,5.6,Hispanic or Latino ethnicity,2019
87,Transportation and material moving occupations,8.3,11.8,3.7,Hispanic or Latino ethnicity,2019

In [9]:
df_final_11_to_19.to_csv('data_2011_to_2019.csv')

In [10]:
df_final_03_to_19 = pd.concat([df_final_03_to_10, df_final_11_to_19])

In [11]:
df_final_03_to_19

,occupation,total,men,women,race,year
17,"Total, 16 years and over (thousands)",114235.0,61866.0,52369.0,White,2003
18,Percent,100.0,100.0,100.0,White,2003
19,"Management, professional, and related occupations",35.5,33.0,38.4,White,2003
20,"Management, business, and financial operations...",15.2,16.6,13.5,White,2003
21,Professional and related occupations,20.3,16.4,24.9,White,2003
...,...,...,...,...,...,...
83,Construction and extraction occupations,10.9,18.6,0.8,Hispanic or Latino ethnicity,2019
84,"Installation, maintenance, and repair occupations",3.6,6.0,0.3,Hispanic or Latino ethnicity,2019
85,"Production, transportation, and material movin...",15.4,20.1,9.3,Hispanic or Latino ethnicity,2019
86,Production occupations,7.1,8.3,5.6,Hispanic or Latino ethnicity,2019
87,Transportation and material moving occupations,8.3,11.8,3.7,Hispanic or Latino ethnicity,2019

In [12]:
df_final_03_to_19.to_csv('data_2003_to_2019.csv')